.cards {
  width: 880px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.cards__card {
  position: relative;
  width: 282px;
  height: 370px;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

/* Card image style to completely cover the top */
.cards__image {
  width: 100%;
  max-height: 100%;
  max-height: 282px; /* Sets a maximum height for the image */
  /* Makes the image completely cover the container */
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: block;
  padding: 0;
  margin: 0;
}

.cards__image:hover {
  transform: scale(1.05); /* Enlarges the image by 5% on hover */
  opacity: 0.9; /* Makes the image slightly opaque */
}
.cards__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 0.9rem auto 1.3rem;
}

.cards__title {
  display: flex;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  justify-content: center;
}

.cards__like {
  display: none;
}

.cards__like-icon {
  width: 21px;
  height: 19px;
  background-image: url(../images/group.svg);
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.4s ease-in-out;
  background-color: #fff;
  border: none;
}
.cards__like-icon:hover {
  background-image: url(../images/images__button/like__active.webp);
}

.cards__trash {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 24px; /* Consistent size */
  height: 24px;
  background: none; /* Removes any extra background */
  border: none; /* Removes extra border */
  padding-top: 0;
  cursor: pointer;
  z-index: 15;
  margin: 0;
}

.cards__trash img {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
}
.cards__trash:hover {
  opacity: 0.5;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .cards {
    width: 660px; /* Adjusts the container to fit two cards per row */
    margin: auto;
  }

  .cards__card {
    width: 282px;
    height: 361px;
  }

  .cards__card:hover {
    opacity: 0.6;
  }
  .cards__image {
    width: 282px; /* Adjusts the image to the card width */
    height: 282px;
  }
}

/* Styles for mobile devices: up to 768px */
@media (min-width: 320px) and (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 200px;
  }

  .cards__card {
    width: 300px;
    height: 361px;
  }

  .cards__image {
    width: 300px; /* Adjusts the image to the card width */
    height: 300px;
  }

  .cards__title {
    font-size: 1.25rem; /* Adjusts the font size for smaller screens */
  }
}
