.popup__container_large {
  max-width: 90vw;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 15px 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Imagem ampliada no popup */
.popup__image-large {
  max-width: 75vw;
  max-height: 75vh;
  object-fit: contain; /* Mantém a proporção da imagem */
  margin: 10px 0;
  padding: 0;
  border-radius: 10px; /* Bordas arredondadas para combinar com o contêiner */
}

.popup__image_close {
  position: absolute;
  top: 0.8rem;
  right: 27rem;
  width: 24px;
  height: 24px;
  background: url(../images/images__button/close_button.png) no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
  z-index: 1010;
}
.popup__image_close:hover {
  opacity: 0.6;
}

/* Responsividade */

@media (max-width: 2100px) and (min-width: 1800px) {
  .popup__container {
    width: 35%;
    box-sizing: border-box;
    padding: 1.56rem 1.38rem;
  }
  .popup__close {
    top: -3rem;
  }
  .popup__title {
    font-size: 2.125rem;
    margin-bottom: 3.5rem;
  }
  .popup__container_large {
    max-width: 80vw;
    max-height: 80vh;
    padding-top: 40px;
    border-radius: 8px;
  }

  .popup__image-large {
    max-width: 75vw;
    max-height: 75vh;
    margin: 10px 0;
    border-radius: 8px;
  }

  .popup__image_close {
    top: 1.6rem;
    right: 38.5rem;
    width: 24px;
    height: 24px;
    font-size: 22px;
  }
}

/* Estilo responsivo para telas de 1799px a 1600px */

@media (max-width: 1799px) and (min-width: 1600px) {
  .popup__container {
    width: 40%;
    box-sizing: border-box;
    padding: 1.56rem 1.38rem;
  }
  .popup__close {
    top: -3rem;
  }
  .popup__title {
    font-size: 2.125rem;
    margin-bottom: 3rem;
  }
  .popup__container_large {
    max-width: 80vw;
    max-height: 80vh;
    padding-top: 40px;
    border-radius: 8px;
  }

  .popup__image-large {
    max-width: 75vw;
    max-height: 75vh;
    margin: 10px 0;
    border-radius: 8px;
  }

  .popup__image_close {
    top: 1.3rem;
    right: 34rem;
    width: 24px;
    height: 24px;
    font-size: 22px;
  }
}

/* Estilo responsivo para telas de 1599px a 1400px */

@media (max-width: 1599px) and (min-width: 1400px) {
  .popup__container {
    width: 40%;
    box-sizing: border-box;
    padding: 1.56rem 1.38rem;
  }
  .popup__close {
    top: -3rem;
  }
  .popup__title {
    font-size: 2.125rem;
    margin-bottom: 3.5rem;
  }
  .popup__container_large {
    max-width: 80vw;
    max-height: 80vh;
    padding-top: 40px;
    border-radius: 8px;
  }

  .popup__image-large {
    max-width: 75vw;
    max-height: 75vh;
    margin: 10px 0;
    border-radius: 8px;
  }

  .popup__image_close {
    top: 1.3rem;
    right: 28rem;
    width: 24px;
    height: 24px;
    font-size: 22px;
  }
}

/* Estilo responsivo para telas de 1399px a 1200px */

@media (max-width: 1399px) and (min-width: 1200px) {
  .popup__container {
    width: 40%;
    box-sizing: border-box;
    padding: 1.56rem 1.38rem;
  }
  .popup__close {
    top: -3rem;
  }
  .popup__title {
    font-size: 2.125rem;
    margin-bottom: 3.5rem;
  }
  .popup__container_large {
    max-width: 80vw;
    max-height: 80vh;
    padding-top: 40px;
    border-radius: 8px;
  }

  .popup__image-large {
    max-width: 75vw;
    max-height: 75vh;
    margin: 10px 0;
    border-radius: 8px;
  }

  .popup__image_close {
    top: 1.3rem;
    right: 23rem;
    width: 24px;
    height: 24px;
    font-size: 22px;
  }
}

@media (max-width: 1100px) and (min-width: 910px) {
  .popup__container {
    width: 50%;
    box-sizing: border-box;
    padding: 1.56rem 1.38rem;
  }
  .popup__close {
    top: -3rem;
    right: 0.2rem;
  }
  .popup__title {
    font-size: 2.125rem;
    margin-bottom: 2.5rem;
  }
  .popup__container_large {
    max-width: 80vw;
    max-height: 80vh;
    padding-top: 40px;
    border-radius: 8px;
  }

  .popup__image-large {
    max-width: 75vw;
    max-height: 75vh;
    margin: 10px 0;
    border-radius: 8px;
  }

  .popup__image_close {
    top: 1rem;
    right: 13rem;
    width: 24px;
    height: 24px;
    font-size: 22px;
  }
}

/* Estilo responsivo para telas de 900px a 768px */
@media (max-width: 900px) and (min-width: 768px) {
  .popup__container_large {
    max-width: 85vw;
    max-height: 80vh;
    padding-top: 20px;
    border-radius: 8px;
  }

  .popup__image-large {
    max-width: 75vw;
    max-height: 75vh;
    margin: 10px 0;
    border-radius: 8px;
  }

  .popup__image_close {
    top: 1.7rem;
    right: 8.5rem;
    width: 24px;
    height: 24px;
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  /* Estilo responsivo para telas de 767px a 320px */
  .popup__container_large {
    max-width: 85vw;
    max-height: 80vh;
    padding-top: 20px;
    border-radius: 8px;
  }

  .popup__image-large {
    max-width: 75vw;
    max-height: 75vh;
    margin: 10px 0;
    border-radius: 8px;
  }

  .popup__image_close {
    top: 1.7rem;
    right: 3.5rem;
    width: 24px;
    height: 24px;
    font-size: 20px;
  }
}
