/* Ensuring the popup is above the trash icons */
.popup {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Dark background */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensuring it is above other elements */
}

/* Popup container */
.popup__container {
  width: 26.875rem;
  max-height: 90vh;
  position: relative;
  border-radius: 0.625rem;
  background-color: #fff;
  padding: 2.125rem 2.25rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Popup title */
.popup__title {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 1.5rem;
  text-align: center;
}

/* Form input */
.popup__input {
  border: none;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.8125rem 0.3125rem;
  margin-top: 1.0625rem;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Error message below inputs */
.popup__error {
  color: red;
  font-size: 0.75rem;
  margin-top: 0.5rem;
  display: none;
}

/* Visible error message */
.popup__error_visible {
  display: block;
}

/* Submit button */
.popup__submit {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.875rem;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 0.125rem;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  cursor: pointer;
  text-align: center;
}

/* Disabled submit button */
.popup__submit_disabled {
  background-color: #fff;
  background-color: #ccc;
  cursor: not-allowed;
}

/* Close popup button */
.popup__close:hover {
  opacity: 0.8;
}

/* Add new card popup */
.popup_add {
  display: none;
  z-index: 1000;
}

.popup_opened {
  display: flex; /* Shows the popup when it is open */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Dark background outside the popup */
  justify-content: center;
  align-items: center;
}

/* Popup container */
.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 24px;
  height: 24px;
  background-image: url(../images/images__button/close_button.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1010;
}
