.profile {
  display: flex;
  align-items: center;
  width: 880px;
  height: 120px;
  margin: 40px auto;
  gap: 1.125rem;
  /* flex-wrap: wrap; */
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__info {
  width: 100%;
}

.profile__name {
  color: #fff;
  margin: 0;
  padding-right: 1rem;
  font-family: "Inter", sans-serif;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3rem; /* 114.286% */
  display: inline;
}

.profile__edit-button {
  background: url(../images/images__button/edit__button.webp) no-repeat center;
  background-color: transparent;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #fff;
  cursor: pointer;
}
.profile__about {
  color: #fff;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  overflow: hidden; /* Evita que o texto transborde */
  text-overflow: ellipsis;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__add-button {
  width: 9.4rem;
  height: 3.1rem;
  background: url(../images/images__button/add__button.webp) no-repeat center;
  background-color: transparent;
  border: 2px solid #fff;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .profile {
    width: 660px;
    margin: 40px auto;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 250px;
  }

  .profile__info {
    text-align: center; /* Center text for mobile */
  }

  .profile__name {
    font-size: 1.7rem; /* Reduce font size for mobile devices */
    padding-right: 0; /* Remove right padding to center the name */
    margin-right: 10px;
  }

  .profile__about {
    font-size: 1.3rem; /* Reduce description font size */
  }

  .profile__add-button {
    background: url(../images/images__button/plus.webp) no-repeat center;
    padding: 30px 160px;
    border: 2px solid #fff;
  }
}
