.profile {
  display: flex;
  align-items: center;
  width: 880px;
  height: 120px;
  margin: 40px auto;
  gap: 1.125rem;
  /* flex-wrap: wrap; */
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__name-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile__info {
  flex-grow: 1;
  overflow: hidden;
  min-width: 0;
}

.profile__name {
  color: #fff;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(
    100% - 2.5rem
  ); /* Garante que o botão de edição tenha espaço */
}
.profile__edit-button {
  flex-shrink: 0;
  margin-left: 1rem;
  background: url(../images/images__button/edit__button.webp) no-repeat center;
  background-color: transparent;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #fff;
  cursor: pointer;
}

.profile__about {
  color: #fff;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  overflow: hidden; /* Evita que o texto transborde */
  text-overflow: clip;
  max-width: 70%; /* Limita a largura a 70% do container pai */
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__add-button {
  flex-shrink: 0; /* Garante que o botão não seja comprimido */
  width: 9.4rem;
  height: 3.1rem;
  background: url(../images/images__button/add__button.webp) no-repeat center;
  background-color: transparent;
  border: 2px solid #fff;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

.profile__avatar-container {
  position: relative;
  width: 120px;
  height: 120px;
  cursor: pointer;
}

.profile__avatar-edit-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/images__button/edit__button.webp") no-repeat center;
  background-size: 30px 30px;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 50%;
}

.profile__avatar-container:hover .profile__avatar-edit-icon {
  opacity: 1;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .profile {
    width: 660px;
    margin: 40px auto;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 250px;
  }

  .profile__info {
    text-align: center; /* Center text for mobile */
  }

  .profile__name {
    font-size: 1.7rem; /* Reduce font size for mobile devices */
    padding-right: 0; /* Remove right padding to center the name */
    margin-right: 10px;
  }

  .profile__about {
    font-size: 1.3rem; /* Reduce description font size */
  }

  .profile__add-button {
    background: url(../images/images__button/plus.webp) no-repeat center;
    padding: 30px 160px;
    border: 2px solid #fff;
  }
}
